<table class="table" >
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <th>image</th>
            <th>t-shirt</th>
            <th>
                <button class="btn btn-danger mx-2" >+</button> 1
                <button class="btn btn-primary mx-2" >-</button>
            </th>
            <th>R 12.44</th>
            <th>
                <button class="btn btn-danger mx-2" ><i class="fas fa-trash"></i></button>
                <button class="btn btn-primary mx-2" >A</button>
            </th>

        </tr>
    </tbody>
</table>