
.card-img {
    height: 70vh;
}

.side-image {
    display: flex;
    height: 70vh;
    flex-direction: column;
    justify-items: center;
    align-items: center;

}

.card-image-side {
    width: 100%;
    height: 4rem;
}

.button-bottom {
    display: flex;
}

.count-size {
    width: 4rem;
    text-align: center;
}

.isAvailble {
    color: green;
}

.isAvailble2 {
    color: red;
}